/*
 * Linux Base Layers (Layer 32)
 *
 * This file contains Linux-specific versions of the base keyboard layout.
 * This is a duplicate of layer 0 but exists in the layer 32 range
 * to allow seamless switching between macOS and Linux configurations.
 */

        layer_QWERTY_Linux {
            bindings = <
               &kp F1                              &kp F2                              &kp F3                              &kp F4                              &kp F5                                                                                                                                                                                                                   &kp F6                               &kp F7                               &kp F8                                 &kp F9               &kp F10
               &kp N0                              &kp N1                              &kp N2                              &kp N3                              &kp N4  &kp N5                                                                                                                                                                            &kp N6                               &kp N7                               &kp N8                               &kp N9                                 &kp F12               &kp F11
            &kp GRAVE                               &kp Q                               &kp W                               &kp E                               &kp R   &kp T                                                                                                                                                                             &kp Y                                &kp U                                &kp I                                &kp O                                  &kp P             &kp MINUS
            &kp EQUAL  &LeftPinky (A, LAYER_QWERTY_Linux)  &LeftRingy (S, LAYER_QWERTY_Linux)  &LeftMiddy (D, LAYER_QWERTY_Linux)  &LeftIndex (F, LAYER_QWERTY_Linux)   &kp G                                                                                                                                                                             &kp H  &RightIndex (J, LAYER_QWERTY_Linux)  &RightMiddy (K, LAYER_QWERTY_Linux)  &RightRingy (L, LAYER_QWERTY_Linux)  &RightPinky (SEMI, LAYER_QWERTY_Linux)               &kp SQT
      &mo LAYER_Lower_Linux                               &kp Z                               &kp X                               &kp C                               &kp V   &kp B      &thumb LAYER_Function_Linux ESC                &parang_left               &parang_right         &kp _HOME                &kp _END  &thumb LAYER_System_Linux ENTER   &kp N                                &kp M                            &kp COMMA                              &kp DOT                               &kp FSLH       &mo LAYER_Lower_Linux
 &magic LAYER_Magic_Linux 0                           &kp GRAVE                            &kp LBKT                            &kp RBKT       &thumb LAYER_Emoji_Linux BSLH          &thumb LAYER_Cursor_Linux BACKSPACE  &thumb LAYER_Number_Linux DELETE  &thumb LAYER_Typing_Linux INSERT  &mo LAYER_Typing_Linux  &thumb LAYER_Mouse_Linux TAB  &space LAYER_Symbol_Linux SPACE             &thumb LAYER_World_Linux PAGE_UP                 &msc MOUSE_SCROLL_UP               &msc MOUSE_SCROLL_DOWN                               &lt LAYER_MouseWarp_Linux PG_DN  &magic LAYER_Magic_Linux 0
            >;
        };
