/*
 * Helper Macros and Layer Definitions for Glove80
 * Based on https://github.com/urob/zmk-helpers/
 *
 * UPDATED FOR MAGIC 8 (GACS/CAGS toggle):
 * - Removed unused base layouts (Enthium, Engrammer, Engram, Dvorak, Colemak, ColemakDH)
 * - Removed Gaming layer
 * - Added GACS-specific layers (25-38)
 * - Reorganized Linux layers to 39-63
 */

#pragma once

#define ZMK_HELPER_STRINGIFY(x) #x

// Preprocessor mechanism to overload macros, cf. https://stackoverflow.com/a/27051616/6114651
#define VARGS_(_10, _9, _8, _7, _6, _5, _4, _3, _2, _1, N, ...) N
#define VARGS(...) VARGS_(__VA_ARGS__, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)
#define CONCAT_(a, b) a##b
#define CONCAT(a, b) CONCAT_(a, b)

#define ZMK_BEHAVIOR_CORE_tap_dance  \
    compatible = "zmk,behavior-tap-dance"; \
    #binding-cells = <0>

#define ZMK_BEHAVIOR(name, type, ...) \
    name: name { \
        ZMK_BEHAVIOR_CORE_ ## type; \
        __VA_ARGS__ \
    };

#define ZMK_TAP_DANCE(name, ...) \
    ZMK_BEHAVIOR(name, tap_dance, __VA_ARGS__)

#define ZMK_TD_LAYER(name, layer) \
    ZMK_TAP_DANCE(name, \
        tapping-term-ms = <200>; \
        bindings = <&mo layer>, <&to layer>; \
)

/* ========================================================================
 * LAYER DEFINITIONS - QWERTY ONLY, 64-layer Magic 8 organization
 * ======================================================================== */

/* macOS CAGS layers (0-13) - Ctrl on pinky, Cmd on middle */
#define LAYER_QWERTY 0
#define LAYER_Typing 1
#define LAYER_LeftPinky 2
#define LAYER_LeftRingy 3
#define LAYER_LeftMiddy 4
#define LAYER_LeftIndex 5
#define LAYER_RightPinky 6
#define LAYER_RightRingy 7
#define LAYER_RightMiddy 8
#define LAYER_RightIndex 9
#define LAYER_Cursor 10
#define LAYER_Number 11
#define LAYER_Function 12
#define LAYER_Symbol 13

/* macOS SHARED layers (14-24) - Used by both CAGS and GACS */
#define LAYER_Emoji 14
#define LAYER_World 15
#define LAYER_System 16
#define LAYER_Mouse 17
#define LAYER_MouseFine 18
#define LAYER_MouseSlow 19
#define LAYER_MouseFast 20
#define LAYER_MouseWarp 21
#define LAYER_Factory 22
#define LAYER_Lower 23
#define LAYER_Magic 24

/* macOS GACS layers (25-38) - Cmd on pinky, Ctrl on middle */
#define LAYER_QWERTY_GACS 25
#define LAYER_Typing_GACS 26
#define LAYER_LeftPinky_GACS 27
#define LAYER_LeftRingy_GACS 28
#define LAYER_LeftMiddy_GACS 29
#define LAYER_LeftIndex_GACS 30
#define LAYER_RightPinky_GACS 31
#define LAYER_RightRingy_GACS 32
#define LAYER_RightMiddy_GACS 33
#define LAYER_RightIndex_GACS 34
#define LAYER_Cursor_GACS 35
#define LAYER_Number_GACS 36
#define LAYER_Function_GACS 37
#define LAYER_Symbol_GACS 38

/* Linux GACS layers (39-63) - Super on pinky, Ctrl on middle */
#define LAYER_QWERTY_Linux 39
#define LAYER_Typing_Linux 40
#define LAYER_LeftPinky_Linux 41
#define LAYER_LeftRingy_Linux 42
#define LAYER_LeftMiddy_Linux 43
#define LAYER_LeftIndex_Linux 44
#define LAYER_RightPinky_Linux 45
#define LAYER_RightRingy_Linux 46
#define LAYER_RightMiddy_Linux 47
#define LAYER_RightIndex_Linux 48
#define LAYER_Cursor_Linux 49
#define LAYER_Number_Linux 50
#define LAYER_Function_Linux 51
#define LAYER_Emoji_Linux 52
#define LAYER_World_Linux 53
#define LAYER_Symbol_Linux 54
#define LAYER_System_Linux 55
#define LAYER_Mouse_Linux 56
#define LAYER_MouseFine_Linux 57
#define LAYER_MouseSlow_Linux 58
#define LAYER_MouseFast_Linux 59
#define LAYER_MouseWarp_Linux 60
#define LAYER_Factory_Linux 61
#define LAYER_Lower_Linux 62
#define LAYER_Magic_Linux 63

/* Backward compatibility - keep old names as aliases where possible */
#ifndef LAYER_Lower
#define LAYER_Lower 23
#endif
